html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	
    background-color:  hsl(225, 100%, 94%);
	background-image: url(images/pattern-background-desktop.svg);
	background-repeat: no-repeat;
	width:100%;
}
.back{
	width:100%;
	display:flex;
    align-items: center;
    justify-content: center;
	background-size: cover;
	min-height: 100vh;
	
}


.checkout{
    display:flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
	background:white;
	width:28.125rem;
    box-sizing: border-box;
	border-radius:1.25rem;
	margin:0.625rem;

}
.ma{
	margin-right:2.5rem;
	margin-left:2.5rem;
	margin-top:50px;
	margin-bottom:1.25rem;
	display:flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
	
}
.plan{
	display:flex;
    align-items: center;
    justify-content:start;
	flex-direction:row;
	 background:hsl(225, 100%, 98%);
	 width:100%;
	 box-sizing:border-box;
	 border-radius:0.625rem;
	 margin:0.3125rem;
	 margin-top:0.625rem;
	 margin-bottom:0.625rem;
	 padding:0.937rem;
    
}
img{
	width:100%;
	border-top-left-radius:1.25rem;
	border-top-right-radius:1.25rem;
	
}
.Aplan{
	font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  font-size:1.25rem;
  margin-left:1.25rem;
  line-height: 1.5;
}
.info1{
	font-family: 'Red Hat Display', sans-serif; font-weight: 500;
	font-size:1rem;
	color: hsl(224, 23%, 55%);
	margin-left:1.25rem;
}
.change{
	margin-left:5rem;
	font-family: 'Red Hat Display', sans-serif; font-weight: 900;
}
.summary
{
	font-family: 'Red Hat Display', sans-serif; font-weight: 900;
	font-size:1.5625rem;
	color:hsl(223, 47%, 23%);
	margin-bottom:1.25rem;
}
.info{
	font-family: 'Red Hat Display', sans-serif; font-weight: 500;
	font-size:1rem;
	color: hsl(224, 23%, 55%);
	margin-left:2.5rem;
	margin-right: 1.25rem;
	margin-bottom:1.25rem;
	line-height: 1.5;
}
.payment{
	background:hsl(245, 75%, 52%);
	width:100%;
	border:none;
	padding:0.8125rem;
	padding-left:0.937rem;
	color:white;
	font-family: 'Red Hat Display', sans-serif; font-weight: 900;
	font-size:1rem;
	border-radius:0.625rem;
	margin:0.3125rem;
	margin-top:1.25rem;
	transition:background-color,0.25s;
}
.cancel1{
	margin:1.875rem;
	font-family: 'Red Hat Display', sans-serif; font-weight: 900;
	font-size:1rem;
	color: hsl(224, 23%, 55%);
	transition:0.5s ease-in-out;
}
.cancel1:hover{
   color:hsl(223, 47%, 23%);
}
.payment:hover{
	background-color:  hsl(224, 23%, 55%);
}
.change:hover{
   color: hsl(225, 100%, 94%);
}
@media(max-width:376px)
{
	html{
		font-size:12px;
	}
	
}
@media(min-width:1440px)
{
	html{
		font-size:16px;
	}
}